body {
  padding: 40px 20px;
  font-family: 'Catamaran', sans-serif;
  font-size: 3vw;
  line-height: 3vw;
}

h1 {
  font-size: 10vw;
  line-height: 9vw;
  margin-bottom: 10px;
}

.menu {
  font-size: 5vw;
  line-height: 5vw;
  margin: 1em 0px 1.5em 0;
}

.hashtags {
  border-top: 2px dashed #0092ca;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0092ca;
  font-weight: bold;
}

#container {
  text-align: center;
}

#container span {
  color: #0092ca;
}

footer {
  margin-top: 40px;
  font-size: 2vw;
}
