---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$base-font-family: "Open Sans";
$blue-color: #0092ca;
@import "minima";

// Custom code

// Hide RSS feed
.rss-subscribe {
  display: none;
}

a, a:visited {
  color: $blue-color;
}

.svg-icon {
  fill: white;
}

.site-header, .site-footer {
  background: $blue-color;
  .footer-col-wrapper, .wrapper {
    color: white;
  }
  a, a:visited {
    color: white;
  }
}

.site-nav .page-link {
  color: white;
}

.post-content, .post-list {
  h1, h2, h3, .post-meta {
    font-family: "Open Sans";
    font-weight: 700;
  }
  font-family: "Georgia";
  font-size: 21px;
  line-height: 1.6;
}

.post-title {
  font-weight: 700;
}

hr {
	border-top: 1px dashed #8c8b8b;
  margin-bottom: 10px;
}

