/* line 1, style.scss */
body {
  background-color: #0092ca;
  color: #fff;
  font-size: 18px;
  font-family: Source Sans Pro;
  text-rendering: optimizelegibility;
  font-weight: normal; }

/* line 10, style.scss */
h1, h2, h3 {
  font-family: Yanone Kaffeesatz; }

/* line 14, style.scss */
a {
  color: #242424;
  text-decoration: none; }
  /* line 17, style.scss */
  a:hover {
    text-decoration: none;
    background: #242424;
    color: white;
    border-bottom: 1px dotted; }

/* line 25, style.scss */
#container {
  padding: 20px 0 0 0;
  width: 800px;
  margin: 0 auto; }
  /* line 29, style.scss */
  #container .article .body {
    padding-left: 10px; }

/* line 35, style.scss */
#header #home {
  overflow: hidden;
  margin: 0 auto;
  width: 640px;
  font-size: 5em;
  font-family: Yanone Kaffeesatz; }
  /* line 41, style.scss */
  #header #home a.title {
    float: left;
    text-align: center;
    color: #fff;
    text-decoration: none; }
    /* line 46, style.scss */
    #header #home a.title:hover {
      border: none;
      text-decoration: none;
      background: #0092ca;
      color: white; }
  /* line 53, style.scss */
  #header #home .caption {
    margin: 33px 0 0 9px;
    float: left;
    font-size: 29px;
    line-height: 28px; }
    /* line 59, style.scss */
    #header #home .caption span.dark {
      color: #242424; }

/* line 67, style.scss */
#nav {
  clear: both;
  text-align: center;
  margin-bottom: 20px; }
  /* line 71, style.scss */
  #nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  /* line 76, style.scss */
  #nav li {
    display: inline-block;
    margin: 0 5px; }

/* line 85, style.scss */
#blog .article .heading {
  line-height: 30px;
  font-family: 'Yanone Kaffeesatz';
  overflow: hidden;
  background-color: #242424;
  margin: 5px 0;
  padding: 5px; }
  /* line 92, style.scss */
  #blog .article .heading a {
    color: #fff; }
  /* line 95, style.scss */
  #blog .article .heading h1.title {
    width: 85%;
    float: left;
    margin: 5px; }
  /* line 100, style.scss */
  #blog .article .heading .date {
    padding-top: 4px;
    width: 10%;
    float: right;
    color: #0092ca; }
/* line 107, style.scss */
#blog .article .content {
  clear: both;
  padding: 0 10px;
  text-align: justify; }
  /* line 111, style.scss */
  #blog .article .content pre {
    padding: 5px 10px 5px 10px;
    font-family: "Source Code Pro" monospace;
    font-size: 14px; }
