{{- if .GitInfo -}}
  <blockquote class="panel misc">
    Latest commit:
    <a
      href="https://github.com/lubieniebieski/lubieniebieski.github.com/commit/{{ .GitInfo.Hash }}"
      title="Latest commit for this page"
      rel="noopener"
      >{{ .GitInfo.AbbreviatedHash }}</a
    >
    on {{ (.GitInfo.AuthorDate).Format "2006-01-02" }} at
    {{ time .GitInfo.AuthorDate | time.Format "15:03"  | upper }}.
    <a
      href="https://github.com/lubieniebieski/lubieniebieski.github.com/tree/master/content/{{ .File.Path }}"
      title="This page’s commit history"
      >Page history</a
    >
  </blockquote>
{{- end }}
