body {
  font-size: 1.3rem;
}

blockquote {
  &.panel {
    font-style: italic;
    font-size: 80%;
    padding: 10px;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  &.info {
    border: 1px dashed rgb(35, 176, 255, 1);
    background-color: rgb(35, 176, 255, 0.1);
  }

  &.misc {
    border: 1px dashed rgb(100, 100, 100, 1);
    background-color: rgba(100, 100, 100, 0.1);
  }
}

.navigation-menu a {
  text-decoration: none;
}

.navigation-menu a:hover {
  font-weight: bold;
}

.navigation-menu__inner {
  margin-left: auto;
  flex: none;
}

.post li + li {
  margin-top: 10px;
}

.footer .copyright ul {
  list-style: none;
  display: flex;
}

.footer .copyright li {
  margin-right: 20px;
}
