body {
  font-size: 1.3rem;
}

blockquote.info {
  font-style: italic;
  font-size: 80%;
  padding: 10px;
  border: 1px dashed rgb(35, 176, 255, 1);
  border-left: none;
  border-right: none;
  text-align: center;
  background-color: rgb(35, 176, 255, 0.1);
}

.navigation-menu a {
  text-decoration: none;
}

.navigation-menu a:hover {
  font-weight: bold;
}

.navigation-menu__inner {
  margin-left: auto;
  flex: none;
}

.post li + li {
  margin-top: 10px;
}
