:root {
    --background: #1d212b;
    --foreground: #ffffff;
    --accent: #22b0ff;
    --gray: #646464;
    --radius: 0;
    --font-size: 1.3rem;
    --line-height: 1.54em;
}


h1,
h2 {
    text-transform: none;
}

body {

    font-size: var(--font-size);

}

.post-tags {
    a {
        text-decoration: none;
    }
}

.post-content a {
    color: inherit;
    background-image: linear-gradient(var(--accent), var(--accent));
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 1px 2px;
    text-decoration: none;
    text-shadow: .03em 0 var(--background), -.03em 0 var(--background), 0 .03em var(--background), 0 -.03em var(--background),
        .06em 0 var(--background), -.06em 0 var(--background), .09em 0 var(--background), -.09em 0 var(--background),
        .12em 0 var(--background), -.12em 0 var(--background), .15em 0 var(--background), -.15em 0 var(--background),
        .03em .075em var(--background), -.03em .075em var(--background), .06em .075em var(--background),
        -.06em .075em var(--background), .09em .075em var(--background), -.09em .075em var(--background),
        .12em .075em var(--background), -.12em .075em var(--background), .15em .075em var(--background),
        -.15em .075em var(--background);

    &:hover {
        color: var(--accent);
    }

    &.footnote-backref,
    &.footnote-ref,
    &.hanchor {
        background: none;
        color: var(--accent);
    }
}

blockquote {


    &.panel {
        font-style: italic;
        font-size: 80%;
        padding: 10px;
        border-left: none;
        border-right: none;
        text-align: center;

        &::before {
            content: "";
        }
    }

    &.info {
        border: 1px dashed var(--accent);
        background-color: var(--background);
    }

    &.misc {
        border: 1px dashed var(--gray);
        background-color: rgba(var(--gray-rgb), 0.1);
    }
}

.navigation-menu a {
    text-decoration: none;
    color: inherit;
}

.navigation-menu a:hover {
    font-weight: bold;
    color: var(--accent);
}

.navigation-menu__inner {
    margin-left: auto;
    flex: none;
}

.post li+li {
    margin-top: 10px;
}

.footer .copyright ul {
    list-style: none;
    display: flex;
}

.footer .copyright li {
    margin-right: 20px;
}

button.tinylytics_kudos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: none;
    border: 1px solid var(--accent);

    &.did_select {
        border-style: dashed;
    }
}

.linklog-link .description {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px dashed var(--gray);
}

.linklog-link a.mastodon-link {
    background-image: none;
}

.linklong-subtitle-area {
    margin-left: 20px;
}