{{ $source := .Get "src" }}
{{ $image := .Page.Resources.GetMatch $source }}
{{ $url := $image.Permalink }}
{{ $caption := .Get "caption" }}
{{ $position := .Get "position" | default "left" }}
{{ $captionPosition := .Get "captionPosition" | default "center" }}
{{ $captionStyle := .Get "captionStyle" }}
{{ $alt := .Get "alt" | default "" }}
{{ $style := .Get "style" | default "" }}

{{ if $source }}
  <figure class="{{ $position }}">
    <a href="{{ $url }}">
      <img src="{{ $url }}" alt="{{ $alt | plainify }}" style="{{ $style | safeCSS }}" />
    </a>
    {{ if $caption }}
      <figcaption class="{{ $captionPosition }}" {{ with $captionStyle }} style="{{ . | safeCSS }}" {{ end }}>{{ $caption | safeHTML }}</figcaption>
    {{ end }}
  </figure>
{{ end }}