
{{ $apiUrl := .Get "url" }}
{{ $remoteData := resources.GetRemote $apiUrl }}
{{ $links := $remoteData | transform.Unmarshal }}


{{ $data := $links }}
{{ $.Scratch.Set "isMonthHeaderCreated" false }}

{{ $timestamps := slice }}
{{ range $key, $value := $links }}
  {{ $timestamps = append (dateFormat "January, 2006" $value.timestamp) $timestamps }}
{{ end }}
{{ $timestamps = uniq $timestamps }}

{{ range $index, $date := $timestamps }}
  <h2>{{ $date }}</h2>
  {{ range $links }}
    {{ if eq (dateFormat "January, 2006" .timestamp) $date }}
      <div class="linklog-link">
        {{ if eq .source "mastodon" }}
          <a
            href="{{ .source_url }}"
            title="Click here for the original toot on Mastodon"
            class="mastodon-link"
            >🐘</a
          >
        {{ else }}
          ⭐️
        {{ end }}
        <a href="{{ .url }}" title="{{ .description }}">{{ .title }}</a>
          
        <div class="linklong-subtitle-area">    
          <code class="linklog-timestamp">{{ dateFormat "2006-01-02" .timestamp}}</code>
          {{ range .tags }}
            <code>
              #{{- . -}}
            </code>
          {{ end }}
        </div>
        <p class="description">
          <small >
            {{ if .commentary }}
              {{ .commentary }}
            {{ else }}
              {{ .description | safeHTML | truncate 299 }}
            {{ end }}
          </small>
        </p>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
